<h1>hello world!</h1>
<%= form_tag do %>
    <textarea id="message" name="message" cols="24" rows="6"></textarea>
    <input type= "submit">
<% end %>

<% @list.each do |item| %>
    <p><%=item%></p>
<% end %>
