// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hash_link {
  color: palevioletred;
  display: inline;
}

.hash_link:hover{
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  color: darkmagenta;
  font-family: 'Montserrat', sans-serif;
}

.tik_single {
  height: 100px;
  border-bottom: 1px solid darkgrey;
}

.tik_text {
  padding-left: 8px;
  word-wrap: break-word;
  position: absolute;
  left: 50px;
}

.tik_btn {
  float: left;
}

